/* ---- Styles possible for global usage ---- */

.noselect {
    /* Source: https://stackoverflow.com/a/4407335/5149302 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}


/* ---- Graph specific styles ---- */

.node-highlight {
  fill: orange;
  stroke-width: 4;
  stroke: green;
}

.nodes .node {
  cursor: pointer;
}

.labels .label {
  cursor: default;
}